<!-- Form Section -->
<form>
  <div class="form-group">
    <label for="member-name">Member Name</label>
    <input type="text" id="member-name" class="form-control" placeholder="Member Name">
  </div>
  <div class="form-group mt-2">
    <label for="role">Role</label>
    <input type="text" id="role" class="form-control" placeholder="Role">
  </div>
  <div class="form-group mt-2">
    <label for="name-teams">Name Teams</label>
    <select class="form-control" id="name-teams">
      <option>Team A</option>
    </select>
  </div>
  <div class="d-flex justify-content-end mt-3">
    <a href="/members" type="button" class="btn btn-warning m-2">Cancel</a>
    <button type="submit" class="btn btn-primary m-2">Submit</button>
  </div>
</form>