<nav class="col-md-2 d-md-block bg-light sidebar collapse" id="sidebarMenu">
  <div class="d-md-block">
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a class="nav-link {{if this.isIndexOrCreateTeamRoute 'active'}}" href="/"><i class="bi bi-people-fill me-2"></i> Teams</a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link {{if this.isMembersOrCreateMemberRoute 'active'}}" href="/members"><i class="bi bi-person-vcard-fill me-2"></i> Members</a>
      </li>
    </ul>
  </div>
</nav>
