<div class="d-flex justify-content-between align-items-center py-3">
  <h1 class="h3">Teams</h1>
  <div class="d-flex align-items-center">
    <input type="text" class="form-control me-2" placeholder="Search for something">
    <i class="bi bi-person-circle fs-3"></i>
  </div>
</div>
